.card{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  height: 400px;
  display: flex;
  border-radius: 5%;
  justify-content: center ;
  width: 18rem;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  background-color: rgb(195, 195, 194);

}

#logos{

  border-radius: 10%;
  margin: 5px;
  margin-top: 25px;
}
