.progress{
  margin-top: 10px;
  width:800px;
  height: 50px;

}
.carousel-item{
  height: 480px;
}

#logos{

  border-radius: 10%;
  margin: 10px;

}
.car{
  height:480px;
  margin-left: 100px;
  margin-top: 20px;
  width: 1000px;
  margin-bottom: 10px;
}

.write{
  background-color: black;
}
